useDynLib(treeclim)
import(Rcpp)
S3method("+",tc_paramlist)
S3method(coef,tc_coef)
S3method(coef,tc_dcc)
S3method(coef,tc_mcoef)
S3method(plot,tc_dcc)
S3method(plot,tc_skills)
S3method(plot,tc_seascorr)
S3method(print,tc_coef)
S3method(print,tc_dcc)
S3method(print,tc_design)
S3method(print,tc_mcoef)
S3method(print,tc_seascorr)
S3method(print,tc_skills)
S3method(summary,tc_dcc)
export(.mean)
export(.range)
export(.sum)
export(dcc)
export(exclude_from)
export(exfr)
export(g_test)
export(seascorr)
export(skills)
import(ggplot2)
import(lmodel2)
import(lmtest)
import(plyr)
importFrom(abind,abind)
importFrom(boot,tsboot)
importFrom(np,b.star)
