useDynLib(climtree)
import(Rcpp)
import(RcppArmadillo)
S3method("+",ct_paramlist)
S3method(coef,ct_coef)
S3method(coef,ct_dcc)
S3method(coef,ct_mcoef)
S3method(plot,ct_dcc)
S3method(plot,ct_skills)
S3method(plot,ct_seascorr)
S3method(print,ct_coef)
S3method(print,ct_dcc)
S3method(print,ct_design)
S3method(print,ct_mcoef)
S3method(print,ct_skills)
S3method(print,ct_seascorr)
S3method(summary,ct_dcc)
export(.mean)
export(.range)
export(.sum)
export(dcc)
export(seascorr)
export(exclude_from)
export(exfr)
export(g_test)
export(skills)
import(ggplot2)
import(plyr)
importFrom(abind,abind)
import(lmtest)
import(lmodel2)
